@import 'header.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: burlywood;
}

.box {
  max-width: 600px;
  margin: 0 auto;
  min-height: 200px;
  border: 1px solid teal;
}